################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

.vs/*
*/obj/*
*/bin/*
packages 
*.user
/coverage-opencover.xml
/TCC/Properties/launchSettings.json
